@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #000000;
    color: #FFFDF7;
}

header {
    width: 100%;
    /* background-color: aqua; */
    height: 70px;
    display: flex;
    align-items: center;
}

header nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* background-color: orange; */
    margin: 5rem;
    align-items: center;
}

header .nav a {
    color: #FFFDF7;
    text-decoration: none;
    padding: 0.5rem;
    font-size: 1.5rem;
}

.links {
    display: flex;
    padding: 0.5rem;
    gap: 2rem
}

.links a {
    text-decoration: none;
}

.links li {
    list-style: none;
}




